* {
    box-sizing: border-box;
}

.dogDetail-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border: 2px solid black;
    border-radius: 1rem;
}